<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Create Campaign</h1>
  
    <form action="/" method="POST">
        <div class="mb-3">
          <label for="campaign_title" class="form-label">Campaign Title</label>
          <input type="text" class="form-control" id="campaign_title" name="campaign_title" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
 
<%- include('partials/footer') %>
