<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Create Candidate</h1>
  
    <form action="/create-candidate" method="POST">
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>

    <form action="/candidates" method="get">
      <button class="btn btn-secondary" type="submit">Go to Candidates</button>
    </form>
    

</div>
 
<%- include('partials/footer') %>
